{% extends "base/base.html" %} {% block styles %}
<style type="text/css">
    hr {
        margin-top: 10px;
        margin-bottom: 10px
    }
</style>
{% endblock %} {% block script %}
<script type="text/javascript">
</script>
{% endblock %} 
{% block content %} 
{% if resources %} 
{% for resource in resources %}
<div class="col-sm-12 col-lg-10 col-lg-offset-1">
    <div class="panel panel-white">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <img alt="user profile image" class="user-profile-image" src="{{ resource.res.avatar(128) }}" />
                </div>
                <div class="col-md-10">
                    <p class="lead">
                        <a href="{{ url_for('res_detail', resid=resource.res.id) }}">{{resource.res.title}}</a>
                    </p>
                    <p>{{ resource.res.body }}</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    受捐人地址：
                    <a href="{{ url_for('user', userid=resource.res.issuer.id) }}">{{resource.res.issuer.address}}</a>
                </div>
                <div class="col-md-5">
                    捐款时间：{{resource.donate_timestamp}}
                </div>
                <div class="col-md-3">
                    捐款(ED)：
                    <strong>
                            {{resource.donate_price}}
                    </strong>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
<!-- <div class="col-sm-12 col-lg-10 col-lg-offset-1">
        <div class="row">
            <div class="col-md-3"></div>
            {% if prev_url and next_url %}
            <div class="col-md-2">
                <a href="{{ prev_url }}" class="btn btn-primary btn-rounded">last page</a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <a href="{{ next_url }}" class="btn btn-primary btn-rounded">next page</a>
            </div>
           
            {% elif prev_url %}
            <div class="col-md-2">
                <a href="{{ prev_url }}" class="btn btn-primary btn-rounded">last page</a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <a href="{{ next_url }}" class="btn btn-primary btn-rounded" style="background-color: darkgray!important; border-color: darkgray!important;">next page</a>
            </div>
            {% elif next_url %}
            <div class="col-md-2">
                <a href="{{ prev_url }}" class="btn btn-primary btn-rounded" style="background-color: darkgray!important; border-color: darkgray!important;">
                    last page
                </a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <a href="{{ next_url }}" class="btn btn-primary btn-rounded">next page</a>
            </div>
            {% endif %}
            <div class="col-md-3"></div>
        </div>
        </div> -->
{% else %}
<div class="col-sm-12 col-lg-10 col-lg-offset-1">
    <div class="alert alert-warning" role="alert">
        <strong>您尚未有捐款记录，想要捐爱心，就去 <a href="{{url_for('index')}}">网站首页</a> 看看吧</strong>
    </div>
</div>
{% endif %} {% endblock %}