{% extends "base/base.html" %} {% block styles %}
<style type="text/css">
    p {
        font-size: 16px;
    }
    /* Center the loader */
</style>
{% endblock styles %} {% block script %}
<script type="text/javascript">
    $(function() {
        $("#donateLoading").hide();
        $("#donateSpan").show();
    });

    function transfer() {
        var datas = {
            money: document.getElementById("money").value,
            password: document.getElementById("password").value,
            resid: "{{ res.id }}",
        };
        $.ajax({
            url: "{{ url_for('res_donate') }}",
            type: "POST",
            data: datas,
            dataType: "json",
            beforeSend: function(XMLHttpRequest) {
                $("#donateSpan").hide();
                $("#donateLoading").show();
                var start = new Date().getTime();
                console.log(start);

            },
            complete: function(XMLHttpRequest, textStatus) {
                $("#donateLoading").hide();
                $("#donateSpan").show();
                console.log("complete");
            },
            success: function(data) {
                if (data["code"] == 0) {
                    // document.getElementById("transfer_msg_success").innerHTML =
                    //     data["msg"];
                    toastr["success"]("success request");
                } else {
                    // document.getElementById("transfer_msg_error").innerHTML = data["msg"];
                    toastr["error"]("error request");
                }
            },
            error: function(data) {},
        });
    }
</script>
{% endblock script %} {% block content %}

<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-white">
        <div class="panel-heading clearfix">
            <h3 class="panel-title">{{title}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <p class="col-sm-3 text-right" style="font-weight: bold">标题：</p>
                <p class="col-sm-9 text-left">{{res.title}}</p>
            </div>
            <div class="row">
                <p class="col-sm-3 text-right" style="font-weight: bold">详细描述：</p>
                <p class="col-sm-9 text-left">{{res.body}}</p>
            </div>
            <div class="row">
                <p class="col-sm-3 text-right" style="font-weight: bold">数据附件：</p>
                <p class="col-sm-9 text-left">{{res.filename}}</p>
            </div>
            <div class="row">
                <p class="col-sm-3 text-right" style="font-weight: bold">创建时间：</p>
                <p class="col-sm-9 text-left">{{res.timestamp}}</p>
            </div>
            <div class="row">
                <p class="col-sm-3 text-right" style="font-weight: bold">截止时间：</p>
                <p class="col-sm-9 text-left">{{res.endTime}}</p>
            </div>
            <div class="row">
                <p class="col-sm-3 text-right" style="font-weight: bold">
                    已捐金额(ED)：
                </p>
                <p class="col-sm-9 text-left">{{res.has_price}}</p>
            </div>
            <div class="row">
                <p class="col-sm-3 text-right" style="font-weight: bold">
                    目标金额(ED)：
                </p>
                <p class="col-sm-9 text-left">{{res.price}}</p>
            </div>
            <div class="row">
                <p class="col-sm-3 text-right" style="font-weight: bold">创建人：</p>
                <p class="col-sm-9 text-left">
                    <a href="{{url_for('user', userid=res.issuer.id)}}">{{res.issuer.username}}</a>
                </p>
            </div>
            <div class="row">
                {% if issued %}
                <div class="col-md-4 col-md-offset-4">
                    <a href="{{url_for('trace_donate', resid=res.id)}}" class="btn btn-primary">查看已捐列表</a>
                </div>
                {% else %}
                <div class="col-md-2 col-md-offset-5">
                    <!-- 增加模态框，点击按钮，展示捐赠选项 -->
                    <button style="margin-bottom: 15px" type="button" class="btn btn-primary" data-toggle="modal" data-target="#donateModal" data-whatever="@mdo">
            捐赠
          </button>
                    <!-- <a href="{{url_for('res_donate', resid=res.id)}}" class="btn btn-primary">捐赠</a> -->
                    <!-- 下面是捐款的模态框 -->
                    <div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="donateModalLabel" style="display: none">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                                    <h4 class="modal-title" id="donateModalLabel">捐赠</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">捐款金额:</label>
                                        <input type="text" class="form-control" id="money" />
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="control-label">账户解锁密码:</label>
                                        <input type="password" class="form-control" id="password" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="text-center" id="donateLoading">
                                        <div class="spinner-border" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        关闭
                                    </button>
                                    <!-- 这里的button使用ajax写捐赠的逻辑 -->
                                    <button type="button" class="btn btn-primary" onclick="transfer();">
                                        <span id="donateSpan">捐款</span>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                {% endif %}
            </div>

        </div>
    </div>
</div>

{% endblock content %}